@model IEnumerable<rp799815_MIS4200.Models.CourseDetail>

@{
    ViewBag.Title = "Course Details";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseDetails.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyInstructor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDetails.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyInstructor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseDetailID })
        </td>
    </tr>
}

</table>
